.weather-card {
  display: flex;
  flex-direction: column;
  padding: 0;
  border-radius: 15px;
  overflow: hidden; /* To ensure the rounded corners apply to the whole card */
}

.weather-card-top {
  flex: 1;
  display: flex;
  flex-direction: row;
  background-size: cover;
  background-position: center;
  border-radius: 15px 15px 0 0; /* Ensure only the top corners are rounded */
  padding: 16px;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.left-top-section {
  flex: 1;
  padding: 16px;
  border-right: 1px solid white; /* Add right border to create separation */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right-top-section {
  flex: 1;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 1px solid white; /* Add right border to create separation */
}

.weather-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

.weather-card-bottom {
  flex: 1;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  background-color: gray; /* Set the background color to gray */
  border-radius: 0 0 15px 15px; /* Ensure only the bottom corners are rounded */
  gap: 8px;
}

.weather-details,
.weather-wind,
.sun-times {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.weather-details {
  border-right: 1px solid white; /* Add right border to create separation */
}

.weather-wind {
  border-right: 1px solid white; /* Add right border to create separation */
}

.weather-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-info {
  display: flex;
  flex-direction: column;
}

.temperature {
  font-size: 2em;
}

.min-max-temp {
  margin-top: 8px;
}
