/* Footer.css */
.footer {
    display: flex;
    background-color: black; /* Make the entire footer black */
    color: white; /* Ensure the text is white for contrast */
    text-align: center; /* Center the text */
    padding: 20px; /* Add some padding for aesthetics */
    bottom: 0;
    width: 100vw;
    font-size: 16px; /* Adjust the font size as needed */
    position: fixed;

  }
  
  
  