/* src/App.css */
* {
  box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.app {
  text-align: center;
  background: url('../src/images/Header_bg.png') no-repeat center center fixed;
  background-size: cover;
  color: white;
  min-height: 100vh; /* Ensure it covers the full height of the viewport */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.title {
  margin: 20px 0;
}

.weather-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%; /* Ensure it doesn't cause horizontal overflow */
  gap: 30px; /* Add a gap between the cards */
  margin-bottom: 50px; /* Add margin to create space between cards and footer */
}

.input {
  width: 300px;
  height: 40px;
  border-radius: 20px;
  margin-right: 6px;
}

.button {
  width: 200px;
  height: 40px;
  border-radius: 20px;
  background-color: mediumslateblue;
  color: azure;
  font-size: 17px;
  font-weight: bold;
}


